@font-face {
    /*font-family: 'SpoqaHanSans'; !* 폰트 패밀리 이름 주기*!*/
    src: url('../fonts/spoqa/SpoqaHanSans-Bold.ttf'); /*폰트 파일 주소*/
    /*src: url('../fonts/spoqa/SpoqaHanSansThin.ttf'); !*폰트 파일 주소*!*/
    /*src: url('../fonts/spoqa/SpoqaHanSansRegular.ttf'); !*폰트 파일 주소*!*/
    /*src: url('../fonts/spoqa/SpoqaHanSansLight.ttf'); !*폰트 파일 주소*!*/
}

.login_field {
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-font-size: 14px;
    -fx-text-fill: #acacac;
    -fx-prompt-text-fill: #acacac;
    -fx-background-color: #fff;
    -webkit-fx-box-: 0 5px 5px 0 rgba(128, 197, 255, 0.2);
    -moz-fx-box-: 0 5px 5px 0 rgba(128, 197, 255, 0.2);
    -ms-fx-box-: 0 5px 5px 0 rgba(128, 197, 255, 0.2);
    -o-fx-box-: 0 5px 5px 0 rgba(128, 197, 255, 0.2);
    -khtml-fx-box-: 0 5px 5px 0 rgba(128, 197, 255, 0.2);
    fx-box-: 0 5px 5px 0 rgba(128, 197, 255, 0.2);
}

.login_field_focus {
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-font-size: 14px;
    -fx-border-color: #80c5ff;
    -fx-text-fill: #101015;
    -fx-prompt-text-fill: #101015;
    -fx-background-color: #fff;
    -webkit-fx-box-: 0 5px 5px 0 rgba(128, 197, 255, 0.2);
    -moz-fx-box-: 0 5px 5px 0 rgba(128, 197, 255, 0.2);
    -ms-fx-box-: 0 5px 5px 0 rgba(128, 197, 255, 0.2);
    -o-fx-box-: 0 5px 5px 0 rgba(128, 197, 255, 0.2);
    -khtml-fx-box-: 0 5px 5px 0 rgba(128, 197, 255, 0.2);
    fx-box-: 0 5px 5px 0 rgba(128, 197, 255, 0.2);
}

.login_submit {
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-background-color: #80c5ff;
    -webkit-fx-box-: 0 5px 5px 0 rgba(128, 197, 255, 0.2);
    -moz-fx-box-: 0 5px 5px 0 rgba(128, 197, 255, 0.2);
    -ms-fx-box-: 0 5px 5px 0 rgba(128, 197, 255, 0.2);
    -o-fx-box-: 0 5px 5px 0 rgba(128, 197, 255, 0.2);
    -khtml-fx-box-: 0 5px 5px 0 rgba(128, 197, 255, 0.2);
    fx-box-: 0 5px 5px 0 rgba(128, 197, 255, 0.2);
}

.login_login_text {
    -fx-font-family: "SpoqaHanSans-Bold";
    /*-fx-font-weight: bold;*/
    -webkit-fx-color: #ff444f;
    -moz-fx-color: #ff444f;
    -ms-fx-color: #ff444f;
    -o-fx-color: #ff444f;
    -khtml-fx-color: #ff444f;
    fx-color: #ff444f;
    letter-spacing: -1.9px;
}